.header{
  width: 100%;
  position: relative;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
  @media all and (max-width: $breakpoint-lg-tablet) {
      flex-direction: column;
      align-items: center;
  }
  &__title{
    @media all and (max-width: $breakpoint-lg-tablet) {
      align-self: flex-start;
    }
    font-size: 1.2em;
    font-weight: 500;
    color: $headtitle-color;
  }
  &__slash{
    font-size: 2em;
    vertical-align: sub;
    font-weight: 100;
  }
  &__menu{
    margin-left: 1.5em;
  }
  &__title{
    margin-right: 1.5em;
  }
  &__action{
  margin:7.500em 0 4.500em 0;
    @media all and (max-width: $breakpoint-lg-tablet) {
      margin: 4.200em 0;
    }
  }
}


.header__burger{
  display: none;
  padding: .5em;
  @media all and (max-width: $breakpoint-lg-tablet) {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
  }
}
.burger-icon {
  @include burger(25px, 3px, 5px, #444);
}
.menu-button-js.is-active .burger-icon {
  @include burger-to-cross;
}
