.b-article{
  display: flex;
  max-width: 290px;
  min-width: 260px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto 1.250em;
  word-wrap: break-word;
  word-break: break-word;
  &__wrap{
    width: 100%;
  }
  &__img{
    width: 125px;
    height:125px;
    margin: 0;
  }
  &__img--gadget{
    width: 256px;
    height: 504px;
    border-radius: 0 ;
  }
  &__img--icon{
    width: 88px;
    height: 88px;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 1em;
  }
  &__text{
    display: block;
    max-width: 100%;
    color: $gray;
    line-height: 1.3;
    margin:0.338em 0 ;
    text-decoration: none;
    &--upper{
      text-transform: uppercase;
    }
    &--sm{
      font-size: 0.9em;
      font-weight: 100;
    }
    &--md{
      font-size: 1.063em;
      font-weight: 100;
    }
  }
  &--aligned-left{
    align-items: flex-start;
    text-align: left;
  }
  &--aligned-right{
    align-items: flex-end;
    text-align: right;
  }
  &__footer{
    text-align: center;
    font-size: 1.3em;
    font-weight: 100;
  }
}
td.b-article__text {
  max-width: 160px;
}
a.b-article__text:hover{
  color: $black;
}
.article-title{
 font: $small-title;
  margin: 0.781em 0;
  &--md{
    font-size: $article-title-md;
  }
}
.icon-img{
  display: inline-block;
  margin-right: 2em;
}
.google-play{
  width: 113px;
  height: 30px;
}
.telegram{
  width: 30px;
  height:30px;
}
.telegram-mob{
  max-width: 100%;
}
.geo{
max-width: 100%;
}

@media all and (max-width: $breakpoint-lg) {
  .b-article{
    margin: 0 auto;
  }
}