.grid {
  &__row {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    &--nowrap{
      flex-wrap: nowrap;
    }
  }
  &__item {
    width: auto;
    flex: 1 1 auto;
    word-break: break-all;
    padding: 12px;
    padding: 1.250rem;
    &--top-indent {
      margin-top: 4em;
    }
    &--sm{
      @media all and (max-width: 600px) {
        flex: 1 1 auto;
        padding-right: 0;
        padding-left: 0;
      }
    }
    &--drivers{
      background-color: $white;
      padding-left: 2.8em;
    }
    &--visible{
      @media all and (max-width: 1154px) {
        display: none;
      }
    }
  }
}

.grid--desktop{
  display: none;
}
.grid--taplet{
  display: block;
}
@media all and (min-width: $breakpoint-ext-sm) {
  .grid__row {
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
  @media all and (min-width: $breakpoint-sm) {
    .grid__row--sm {
      flex-direction: row;
    }

  }
  @media all and (min-width: $breakpoint-md) {
    .grid__row--md {
      flex-direction: row;
    }
  }
  @media all and (min-width: $breakpoint-lg) {
    .grid__row--lg {
      flex-direction: row;
    }
    .grid--desktop{
      display: block;
    }
    .grid--taplet{
      display: none;
    }
  }

