.services{
  display: flex;
  max-width: 24.750em;
  margin: 11.7em 0 0.450em 0;
  word-break: break-all;
  &__text{
    margin-left: 1.250em;
    line-height: 1.2;
  }
}
.b-icons{
  display: flex;
  min-width: 11.125em;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
&__el{
  max-width: 100%;
}
  &__el:not(:last-child){
    margin:0 1.250em 1.250em 0;
  }
}
@media all and (max-width: $breakpoint-lg-tablet){
  .services{
    display: none;
  }
}