.b-vidget{
  position: relative;
  max-width: 363px;
  min-width: 280px;
  margin: 0 auto;
  min-height: 200px;
  background: $gradient-primary;
  border-radius: 10px;
  padding: 0.313em 0.313em 0 0.313em;
  &__video-icon{
    width: 143px;
    height: 170px;
  }
  &--sec{
    background: $gradient-secondary;
  }
  &__btn{
    margin-top: 5.125em;
  }
  &__icon{
    position: absolute;
    bottom: 0;
  }
}
.icon-gadget{
  width: 143px;
  height: 170px;
  border-radius: 15px;
}
@media all and (max-width: $breakpoint-tablet) {
  .b-vidget__video-icon{
    width: 123px;
    height: 170px;
  }
  .icon-gadget{
    width: 123px;
    height: 170px;
    border-radius: 15px;
  }
}