.btn{
  margin: 0.5em 0;;
  cursor: pointer;
   border: none;
   padding:1em 1.842em;
   font: $button-text;
   border-radius: 6px;
  &--sm{
    font-size: $button-sm;
  }
  &--primary{
    background-color: $button-primary;
  }
  &:hover{
    outline:none;
    background-color: $button-primary--hover;
  }
  &:focus{
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.19);
    outline:none;
    background-color:$button-primary--hover;
  }
 }
@media all and (max-width: $breakpoint-lg-tablet){
  .btn{
    content: '';
    font: $button-tex-mob;
    &--sm{
      font-size: 0.9em;
    }
;}
}