.slider{
  position: relative;
  padding: 1em 0;
  width: 100%;
  &__count{
    text-align: left;
    font-size: 1.5em;
    margin-left: 1em;
    margin-bottom: 0.7em;
    font-weight:600;
  }
  &__line{
    display: inline-block;
    width: 80%;
    height: 0px;
    border: 1px solid $button-primary;
  }
  &__line--gray{
    display: inline-block;
    width: 19%;
    border: 1px solid $gray;
  }
  &__circle{
    position: relative;
    display: inline-block;
    top: -15px;
    left: 125px;
    width: 26px;
    height: 26px;
    background-color: $button-primary;
    border-radius: 15px;
    cursor: pointer;
  }

}