<div class="b-page__section b-page__section--header">
    <div class="header">
        <h2 class="header__title"><span class="header__slash">/  </span>Современное такси</h2>
        <a href="javascript:void(0)" class="header__burger menu-button-js">
            <span class="burger-icon"></span>
        </a>
        <ul class="header__menu nav">
            <li class="nav__item ">
                <script>
                    $(document).ready(function () {
                        $('.dropdown-menu__link').DropDown()
                    })
                </script>
                <div class="dropdown-menu dropdown-menu--city">
                    <a href="javascript:void(0)" class="nav__link dropdown-menu__link">Ваш город</a><div class="arrow-down"></div>
                </div>
            </li>
            <li class="nav__item"><a href="#requirements" class="nav-anchor nav__link">Условия работы</a></li>
            <li class="nav__item"><a href="#requirements" class="nav-anchor nav__link">Требования</a></li>
        </ul>
    </div>

    <div class="header__action">
        <div class="jumbotron">
            <h1 class="title">Есть автомобиль?</h1>
            <h2 class="title-md">Зарабатывай до <b>70 000</b> р.</h2>
            <a  href="#driver_request" class=" nav-anchor btn btn--primary jumbotron__btn">Подключить за 5 минут</a>
        </div>
    </div>
    <div class="header__order-types">
        <div class="services">
            <div class="b-icons services__icons">
                <div class="b-icons__el"><img class="icon-item" src="img/Uber.png" alt=""></div>
                <div class="b-icons__el"><img class="icon-item" src="img/Gett.png" alt=""></div>
                <div class="b-icons__el"><img class="icon-item" src="img/Yandex.png" alt=""></div>
            </div>
            <p class="services__text">Три службы агрегатора такси в одном приложении</p>
        </div>
    </div>
</div>
