
<div class="modal modal-uber">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md ">Uber</p>
        <div class="modal__content modal__content--video">
            <div id="video_uber" class="modal__video modal__video--uber"></div>
        </div>
    </div>
</div>

<div class="modal modal-gett">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md ">Gett</p>
        <div class="modal__content modal__content--video">
            <div id="video_gett" class="modal__video modal__video--gett"></div>
        </div>
    </div>
</div>

<div class="modal modal-ya">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md ">Yandex</p>
        <div class="modal__content modal__content--video">
            <div id="video_ya" class="modal__video modal__video--ya"></div>
        </div>
    </div>
</div>
<div class="modal modal--status modal-success">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title b-article__title article-title"></p>
        <div class="modal__content">
            <p class="article-title modal__text">Ваша запрос отправлен. Пожалуйста дождитесь звонка нашего специалиста.</p>
        </div>
    </div>
</div>
<div class="modal modal--status modal-failed">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md "></p>
        <div class="modal__content">
            <p class="article-title modal__text">К сожалению, проищошла ошибка :(</p>
        </div>
    </div>
</div>