
<div class="modal modal-uber">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md ">Uber</p>
        <div class="modal__content modal__content--video">
            <div id="video_uber" class="modal__video modal__video--uber"></div>
        </div>
    </div>
</div>

<div class="modal modal-gett">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md ">Gett</p>
        <div class="modal__content modal__content--video">
            <div id="video_gett" class="modal__video modal__video--gett"></div>
        </div>
    </div>
</div>

<div class="modal modal-ya">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md ">Yandex</p>
        <div class="modal__content modal__content--video">
            <div id="video_ya" class="modal__video modal__video--ya"></div>
        </div>
    </div>
</div>
<div class="modal modal-success">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md ">Успех</p>
        <div class="modal__content">
            <p class="b-article__title article-title">Ваша заявка успешно отправлена.Наш специалист с вами свяжется</p>
        </div>
    </div>
</div>
<div class="modal modal-failed">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md ">Ошибка</p>
        <div class="modal__content">
            <p class="b-article__title article-title">К сожалению, произошла ошибка</p>
        </div>
    </div>
</div>