<div class="modal modal-uber">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md ">Uber</p>
        <div class="modal__content">
            <iframe src="https://www.youtube.com/embed/kl90DvdNd5g" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="modal modal-gett">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md ">Gett</p>
        <div class="modal__content">
            <iframe src="https://www.youtube.com/embed/1jnIDW5XbR0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="modal modal-ya">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md ">Yandex</p>
        <div class="modal__content">
            <iframe src="https://www.youtube.com/embed/PPk4eRAdH2A" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>