<div class="b-page__section">
    <div class="section">
        <h1 class="title section__title">Почему водители работают с нами?</h1>
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/Comfort.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Удобное расположение</p>
                        <p class="b-article__text">Мы предлагаем удобное мобильное приложение, которое осуществляет
                            расчет зарплаты</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/Support.svg" alt="" alt="">
                        </div>
                        <p class="b-article__title article-title">Поддержка и обучение</p>
                        <p class="b-article__text">Наши менеджеры всегда помогут вам и ответят на любые ваши вопросы</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/Time.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Сводный график</p>
                        <p class="b-article__text">Теперь вы сами можете выбирать удобное для вас время работы и не зависеть ни от кого</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/Bonus.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Доплата за заказы</p>
                        <p class="b-article__text ">Совершайте более 10 поездок за день и получайте бонус в виде доплаты за заказы</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section b-page__section--colored b-page__section--sm-padding b-page-wrapper">
    <div class="section section-col">
        <h1 class="title section__title">Сколько я заработаю?</h1>
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__text b-article__text--upper">Количество рабочих дней /Мес</p>
                        <div class="b-article__slider slider">
                            <div class="slider__count">22</div>
                            <div class="slider__line"></div>
                            <div class="slider__circle"></div>
                            <div class="slider__line slider__line--gray"></div>
                        </div>
                        <div class="b-article__wrap">
                            <table class="table">
                                <tr>
                                    <td class="b-article__text">Пройденный путь</td>
                                    <td>150 км</td>
                                </tr>
                                <tr>
                                    <td class="b-article__text">Количество заказов</td>
                                    <td>10 в день</td>
                                </tr>
                                <tr>
                                    <td class="b-article__text">Средний чек за заказ</td>
                                    <td>200 р</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article b-article--aligned-right">
                        <p class="b-article__text b-article__text--upper">За 1 месяц я накоплю</p>
                        <p class="title-md">54 150 руб</p>
                        <p class="b-article__text b-article__text--sm">Выше указана приблизительная сумма дохода для усредненных показателей</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-logo">
        <img class="get-taxi" src="img/Taxi.svg" alt="">
    </div>
</div>
<div class="b-page__section b-page__section--sm-padding">
    <div class="section">
        <h1 class="title section__title">Единое приложение для заказов</h1>
        <div class="grid grid--desktop">
            <div class="grid__row grid__row--md">
                <div class="grid__item grid__item--top-indent ">
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__title article-title article-title--md">Прозрачность доходов</p>
                        <p class="b-article__text b-article__text--md">Вы можете наблюдать, как формируется ваша заработная плата и видеть все выполненные поездки по Uber, Яндекс.Такси и Gett</p>
                    </div>
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__title article-title article-title--md">Быстрый вывод заработка</p>
                        <p class="b-article__text b-article__text--md">После каждой поездки заработок перечисляется на ваш банковский счет каждую неделю. Вы можете запрашивать вывод аванса через приложение</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img b-article__img--gadget">
                            <img class="gadget" src="img/Iphone.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="grid__item grid__item--visible grid__item--top-indent">
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__title article-title article-title--md">Быстрый вывод заработка</p>
                        <p class="b-article__text b-article__text--md">После каждой поездки заработок перечисляется на ваш банковский счет каждую неделю. Вы можете запрашивать вывод аванса через приложение</p>
                    </div>
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__title article-title article-title--md">Прозрачность доходов</p>
                        <p class="b-article__text b-article__text--md">Вы можете наблюдать, как формируется ваша заработная плата и видеть все выполненные поездки по Uber, Яндекс.Такси и Gett</p>
                    </div>
                    <div class="b-article b-article--aligned-left">
                       <div class="b-article__icons">
                           <img class="icon-img google-play" src="img/GooglePlay.png" alt="">
                           <img class="icon-img telegram" src="img/Telegram.png" alt="">
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid--taplet">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <div class="b-article">
                        <p class="b-article__text">Откройте мобильное приложение в App Store или Google Play</p>
                        <div class="b-article__img b-article__img--icon">
                            <a href="#"><img width="80px" height="80px" class="market-logo" src="img/market.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <p class="b-article__text">Задать вопросы и узнать наши последние новости можно от бота в Телеграм</p>
                        <div class="b-article__img b-article__img--icon">
                            <a href="#"> <img class="telegram-mob" src="img/Telegram@2x.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section b-page__section--sm-padding">
    <div class="section">
        <h1 class="title section__title">Видеоэкскурсия по приложеням</h1>
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item grid__item--sm">
                    <div class="grid b-vidget">
                        <div class="grid__row grid__row--sm">
                            <div class="grid__item">
                                <div class="b-vidget__type">
                                    <img src="img/uber-logo.svg" width="91px" height="32px" class="b-vidget__name">
                                </div>
                                <button class="btn btn--sm btn--primary b-vidget__btn">Смотреть</button>
                            </div>
                            <div class="grid__item">
                                <div class="b-vidget__icon">
                                    <img class="icon-gadget  " src="img/video-uber.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item grid__item--sm"><div class="grid b-vidget b-vidget--sec">
                    <div class="grid__row grid__row--sm">
                        <div class="grid__item">
                            <div class="b-vidget__type">
                                <img src="img/gett-logo.svg" width="79px" height="32px" class="b-vidget__name">
                            </div>
                            <button class="btn btn--sm btn--primary b-vidget__btn">Смотреть</button>
                        </div>
                        <div class="grid__item">
                            <div class="b-vidget__icon">
                             <img class="icon-gadget" src="img/video-gett.png" alt="">
                            </div>
                        </div>
                    </div>
                </div></div>
                <div class="grid__item grid__item--sm"><div class="grid b-vidget">
                    <div class="grid__row grid__row--sm">
                        <div class="grid__item">
                            <div class="b-vidget__icon">
                                <img src="img/yandex-logo.svg" width="114px" height="32px" class="b-vidget__name">
                            </div>
                            <button class="btn btn--sm btn--primary b-vidget__btn">Смотреть</button>
                        </div>
                        <div class="grid__item">
                            <div class="b-vidget__icon">
                            <img class="icon-gadget" src="img/video-yandex.png" alt="">
                                </div>
                        </div>
                    </div>
                </div></div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section">
    <div class="section">
        <h1 class="title section__title">Анкета нового Водителя</h1>
        <div class="grid">
            <div class="form-grid grid__row">
                <div class="grid__item">
                    <form class="form">
                        <div class="grid__row grid__row--sm">
                            <div class="grid__item">
                                <div class="form__wrap">
                                    <label class="label b-article__text">Фамилия Имя Отчество</label>
                                    <input class="input" type="text">
                                </div>
                                <div class="form__wrap">
                                    <label class="label b-article__text">Автомобиль, Год</label>
                                    <input class="input" type="text">
                                </div>
                                <div class="form__wrap form__wrap--city">
                                <p class="b-article__text">Ваш город :</p>
                                <div class="dropdown-menu form__city">
                                    <a href="#" class="nav__link dropdown-menu__link b-article__link">Санкт-Петербург<div class="arrow-down"></div>
                                    </a>
                                    <ul class="dropdown-menu__list dropdown-list form__city-list">
                                        <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Казань</a></li>
                                        <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Набережные Челны</a></li>
                                        <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Севастополь</a></li>
                                        <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Краснодар</a></li>
                                        <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Владивосток</a></li>
                                        <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Сочи</a></li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                            <div class="grid__item">
                                <div class="form__wrap">
                                    <label class="label b-article__text">Контактный телефон</label>
                                    <input class="input" type="text">
                                </div>
                                <div class="form__wrap form__wrap--text">
                                    <p class="descr b-article__text">Пожалуйста, заполните форму.</p>
                                    <p class="descr b-article__text">После отправки формы с Вами свяжется менеджер из
                                        нашей службы поддержки и проконсультирует по поводу дальнейших действий</p>
                                        <button class="btn  btn--primary form__btn">Отправить</button>
                                </div>
                                </div>
                        </div>
                    </form>
                </div>
                <div class="grid__item">
                    <div class="b-article b-article--aligned-left">
                        <div class="b-article__title">
                            <p class="b-article__title article-title article-title--md">Требования к водителю</p>
                            <ul class="list">
                                <li class="list__item"><p class="b-article__text">Автомобиль не старшей 4 лет</p></li>
                                <li class="list__item"><p class="b-article__text">Опыт вождения более 2 лет</p></li>
                                <li class="list__item"><p class="b-article__text">Гражданство РФ или разрешение на работу</p></li>
                                <li class="list__item"><p class="b-article__text">Знание русского языка</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="b-article b-article--aligned-left">
                        <div class="b-article__title">
                            <p class="b-article__title article-title article-title--md">Условия работы</p>
                            <ul class="list">
                                <li class="list__item"><p class="b-article__text">Комиссия от 5% (три различные схемы)</p></li>
                                <li class="list__item"><p class="b-article__text">Еженедельные выплаты на банковскую карту</p></li>
                                <li class="list__item"><p class="b-article__text">Свободный график</p></li>
                                <li class="list__item"><p class="b-article__text">Обучение и тренинги</p></li>
                                <li class="list__item"><p class="b-article__text">Доплаты за поездки</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section b-page__section--colored b-page__section--sm-padding b-page__section--footer">
<div class="grid footer">
    <div class="grid__row">
        <div class="grid__item">
            <div class="b-article footer__item">
                <p class="b-article__text b-article__text--upper">Поддержка</p>
                <a href="#" class="b-article__text">Вопросы и ответы</a>
                <a href="#" class="b-article__text">Служба поддержки</a>
                <a href="#" class="b-article__text">Требования к водителям</a>
                <a href="#" class="b-article__text">Условия работы</a>
            </div>
        </div>
        <div class="grid__item">
            <div class="b-article footer__item">
                <p class="b-article__text b-article__text--upper">Наши контакты</p>
                <div class="b-article__wrap">
                    <table class="table">
                        <tr>
                            <td class="b-article__text">Адрес:</td>
                            <td>Каширское шоссе,85</td>
                        </tr>
                        <tr>
                            <td class="b-article__text">Телефон</td>
                            <td>+7(951)067-73-10</td>
                        </tr>
                        <tr>
                            <td class="b-article__text">Email</td>
                            <td>lex7310@ya.ru</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="b-article footer__item">
            <p class="b-article__text b-article__text--upper">Приложение уже доступно</p>
            <table class="table table--footer">
                <tr>
                    <td><a href="#"><img class="table__img" src="img/GooglePlay.png" width="112px" height="33px" alt="telegram"></a></td>
                    <td><a href="#"><img class="table__img" src="img/Telegram.png" width="32px" height="32px" alt="telegram"></a></td>
                </tr>
            </table>
                </div>
        </div>
    </div>
</div>
</div>
<div class="b-page__footer-title">
    <p class="b-article__text b-article__footer">Современное такси</p>
</div>